.banner-container {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.banner-title {
    color: var(--white);
    font-weight: 600;
    font-size: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 0px;
    line-height: 0px;
    text-decoration: none;
}

.adjective {
    list-style-type: none;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.1rem;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 20px;
    transition: color 1s ease-out;
}

.higlighted {
    color: var(--red);
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
